build/generated/not_namespaced_r_class_sources/
build/generated/res/
build/generated/source/
build/intermediates/
build/outputs/
build/tmp/

gradlew
build/generated/aidl_source_output_dir/debug/compileDebugAidl/out/com/ryg/chapter_2/